@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #171717;
  color:beige;
  font-family: monospace;
}
.center_top{
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}


.home{
  height:fit-content;
}

.heights{
  height: 150px;
}
.container{
  @apply my-6  grid  gap-4  grid-cols-1 sm:grid sm:grid-cols-2   pt-10 
}

.img{
  @apply w-full
}
.img:hover{
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.section_layout{
  @apply mt-10 grid grid-cols-1 divide-y;
}
.text_header{
  @apply text-xl sm:text-4xl font-bold pb-5;
}

.card_about{
 @apply  h-fit sm:h-auto
}

.small_card{
 @apply flex gap-2 break-words p-3  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30 border-none w-fit sm:w-80 h-20 break-words
}
.card_container{
  @apply p-2 break-words m-3 
}
.card_header{
  @apply mb-2 sm:text-2xl text-lg font-bold border-b-2 border-spacing-2 
}
.icon{
 
  @apply h-9 w-9 font-bold p-0 m-0;
}


/* swiper */

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
