@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #171717;
  color:beige;
  font-family: monospace;
}
.center_top{
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}


.home{
  height:fit-content;
}

.heights{
  height: 150px;
}
.container{
  @apply my-6  grid  gap-4  grid-cols-1 sm:grid sm:grid-cols-2   pt-10 
}

.img{
  @apply w-full
}
.img:hover{
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.section_layout{
  @apply mt-10 grid grid-cols-1 divide-y;
}
.text_header{
  @apply text-xl sm:text-4xl font-bold pb-5;
}

.card_about{
 @apply  h-fit sm:h-auto
}

.small_card{
 @apply flex gap-2 break-words p-3  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30 border-none w-fit sm:w-80 h-20 break-words
}
.card_container{
  @apply p-2 break-words m-3 
}
.card_header{
  @apply mb-2 sm:text-2xl text-lg font-bold border-b-2 border-spacing-2 
}
.icon{
 
  @apply h-9 w-9 font-bold p-0 m-0;
}
