@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #171717;
  color:beige;
  font-family: monospace;
}
.center_top{
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}


.home{
  height:fit-content;
}

.heights{
  height: 150px;
}
.container{
  @apply my-6  grid  gap-4  grid-cols-1 sm:grid sm:grid-cols-2   pt-10 
}

.img{
  @apply w-full
}
.img:hover{
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.section_layout{
  @apply mt-10 grid grid-cols-1 divide-y;
}
.text_header{
  @apply text-xl sm:text-4xl font-bold;
}

.card_about{
  height: 428px;
}

.small_card{
 @apply p-3  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30 border-none w-full h-full
}
/* .main{
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background-image: url("/barber-app/public/assets/images/pexels-cottonbro-studio-3998389.jpg");
}
.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/barber-app/public/assets/images/pexels-cottonbro-studio-3998389.jpg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(140, 232, 207) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(230, 180, 118) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
} */
